.navbar-container {
}

.logo {
    width: 100%;
    height: 35vh;
}

@media(max-width: 500px) {
    .navbar-container {
    }

    .logo {
        width: 100%;
    }
    .navbar-container h1 {
        color: red;
    }
}